<%@ page defaultCodec="html" %>
<td>3</td><td>
    <ripple:autoComplete property="${property}" valueId="${bean?.thirdLevel?.id}" name="${property}.unitOfMeasure" id="${property}" class="input-mini" value="${bean?.thirdLevel?.unitOfMeasure}" controller="item" action="uoMlisting"/>
</td>
<td>How many level 2 in level 3: <input type="text" class="input-mini" name="${property}.value" id="${property}.value" value="${value?.value}" /></td>