ul.no-list-style{
    list-style: none;
}
.dropdown .collapse{
    height: 0;
    overflow: hidden;
}
ul.custom-nav li.active a{
    color: #ff9000 !important;
}
.datepicker{
    margin-top:0 !important;
}
td.table-currency{
    text-align: right;
}
td.table-center{
    text-align: center;
}
#itemPicker.modal{
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 12%;
    margin: -250px 0 0 0;
    overflow: auto;
    position: fixed;
    top: 50%;
    width: 1000px;
    height: 500px;
    z-index: 1950;
}

#datatable-procurement-item th:first-child{
    text-align: center;
}

#datatable-procurement-item td:first-child{
    text-align: center;
}