a.multiSelect {
    display: inline-block;
    width: 210px;
    height: 18px;
    padding: 4px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    background-color: white;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    background-image: url(../images/multiselect/dropdown.gif);
    background-repeat: no-repeat;
    background-position: right;
}

a.multiSelect:link, a.multiSelect:visited, a.multiSelect:hover, a.multiSelect:active {
    color: black;
    text-decoration: none;
}

a.multiSelect span
{
    margin: 1px 0px 1px 3px;
    overflow: hidden;
    display: -moz-inline-stack;
    display: inline-block;
    white-space: nowrap;
}

a.multiSelect.hover {
    background-image: url(../images/multiselect/dropdown_hover.gif);
    background-repeat: no-repeat;
    background-position: right;
}

a.multiSelect.active,
a.multiSelect.focus {
    border: inset 1px #000;
}

a.multiSelect.active {
    background-image: url(../images/multiselect/dropdown_active.gif);
    background-repeat: no-repeat;
    background-position: right;
}

.multiSelectOptions {
    margin-top: -1px;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 1px #B2B2B2;
    background: #FFF;
}

.multiSelectOptions LABEL {
    padding: 1px 2px;
    display: block;
    white-space: nowrap;
}

.multiSelectOptions LABEL.optGroup
{
    font-weight: bold;
}

.multiSelectOptions .optGroupContainer LABEL
{
    padding-left: 10px;
}

.multiSelectOptions.optGroupHasCheckboxes .optGroupContainer LABEL
{
    padding-left: 18px;
}

.multiSelectOptions input{
    vertical-align: middle;
}

.multiSelectOptions LABEL.checked {
    /*background-color: #dce5f8;*/
}

.multiSelectOptions LABEL.selectAll {
    border-bottom: dotted 1px #CCC;
}

.multiSelectOptions LABEL.hover {
    background-color: #3399ff;
    color: white;
}