<%@ page defaultCodec="html" %>
<td>2</td><td>
    <ripple:autoComplete property="${property}" valueId="${bean?.secondLevel?.id}" name="${property}.unitOfMeasure" id="${property}" class="input-mini" value="${bean?.secondLevel?.unitOfMeasure}" controller="item" action="uoMlisting"/>
</td><td>How many level 1 in level 2: <input type="text" class="input-mini" name="${property}.value" id="${property}.value" value="${value?.value}" /></td>