<%@ page import="com.ripple.loans.Loan" %>
<!doctype html>
<html>
<head>
    <meta charset="utf-8" name="layout" content="main"/>
    <g:set var="entityName" value="${message(code: 'loan.label', default: 'Loan')}"/>
    <title><g:message code="default.edit.label" args="[entityName]"/></title>
    <r:require modules="all"/>
</head>

<body>
<div class="row-fluid">
    <div class="span1 action-btn round-all">
        <a href="${createLink(uri: '/')}">
            <div><i class="icon-home"></i></div>

            <div><strong><g:message code="default.home.label"/></strong></div>
        </a>
    </div>

    <div class="span1 action-btn round-all">
        <a href="${createLink(action: 'list')}">
            <div><i class="icon-align-justify"></i></div>

            <div><strong>List</strong></div>
        </a>
    </div>

    <div class="span1 action-btn round-all">
        <a href="${createLink(action: 'create')}">
            <div><i class="icon-pencil"></i></div>

            <div><strong>Create</strong></div>
        </a>
    </div>
</div>

<g:if test="${flash.message}">
    <div class="alert alert-success" role="status">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        ${flash.message}
    </div>
</g:if>
<g:hasErrors bean="${loanInstance}">
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        Validation has failed. Please correct your inputs.
        <ul>
            <g:eachError bean="${loanInstance}" var="error">
                <li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message
                        error="${error}"/></li>
            </g:eachError>
        </ul>
    </div>
</g:hasErrors>
<g:form class="form-horizontal"
        method="post" >
<g:hiddenField name="id" value="${loanInstance?.id}"/>
<g:hiddenField name="version" value="${loanInstance?.version}"/>
<div class="row-fluid">
    <div class="span12" id="edit-loan" role="main">
        <!-- Portlet: Form Control States -->
        <div class="box" id="box-0">
            <h4 class="box-header round-top"><g:message code="default.edit.label" args="[entityName]"/>
                <a class="box-btn" title="close"><i class="icon-remove"></i></a>
                <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>
                <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i>
                </a>
            </h4>

            <div class="box-container-toggle">
                <div class="box-content">

                    <fieldset>
                        <div class="row-fluid">
                            %{--<f:all bean="loanInstance"/>--}%
                            <f:field bean="loanInstance" property="employee">
                                <p style="margin:5px 0 0 0"><g:fieldValue field="employee" bean="${loanInstance}"/></p>
                            </f:field>
                            <f:field bean="loanInstance" property="loanType"/>
                            <f:field bean="loanInstance" property="loanDate"/>
                            <f:field bean="loanInstance" property="totalAmount"/>
                            <f:field bean="loanInstance" property="monthlyAmortization"/>
                            <f:field bean="loanInstance" property="remarks">
                                <g:textArea name="remarks" rows="5" cols="5"/>
                            </f:field>
                            <div class="control-group">
                                <h5 id="payments-label" class="control-label"><g:message
                                        code="loan.payments.label"
                                        default="Payments"/></h5>
                                <div class="controls" style="margin-top:4px">

                                    <ul id="loanPaymentListing" class="listing">
                                        <g:each var="p" in="${loanInstance.payments}">
                                            <li><a href="javascript:" onclick="renderModal('${p?.id}', 'loanPayment')">${p?.encodeAsHTML()}</a></li>
                                        </g:each>
                                    </ul>

                                    <a id="showModal" class="btn" href="javascript:" onclick="renderModal('', 'loanPayment')">Add Loan Payment</a>
                                </div>
                        </div>


                    </fieldset>
                    <div class="form-actions">
                        <g:actionSubmit class="btn btn-primary" action="update"
                                        value="${message(code: 'default.button.update.label', default: 'Update')}"/>
                        <g:actionSubmit class="btn" action="delete"
                                        value="${message(code: 'default.button.delete.label', default: 'Delete')}"
                                        formnovalidate=""
                                        onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</g:form>
<div id="modalContainer">
    <ripple:modal className="LoanPayment" entity="Loan Payment" elementId="loanPayment" parentId="${loanInstance.id}" parentClass="Loan" parentProperty="loan"/>
    <ripple:modalScript parentProperty="loan"  parentId="${loanInstance.id}"/>
</div>
</body>
</html>
