<%@ page defaultCodec="html" %>
<td>1 (Base)</td>
<td>
    <ripple:autoComplete property="${property}" valueId="${bean?.baseLevel?.id}" name="${property}.unitOfMeasure" id="${property}" class="input-mini" value="${bean?.baseLevel?.unitOfMeasure}" controller="item" action="uoMlisting"/>
</td>
<td></td>
